<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat box</title>
</head>
<body>
    <div class="chat-popup" id="myForm">
        <form action="/chats"  
        onsubmit='document.getElementById("username").value=localStorage.getItem("username")'
         class="form-container" method="POST">
          <h1>Chat Box</h1>
      
          <label for="msg"><b>Message</b></label><br>
          <textarea placeholder="Type message.." name="msg" ></textarea><br>
          <input type="text" id="username" name="username">
          <button type="submit" class="btn">Send</button>
        </form>
      </div>
</body>
</html>